body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 32px;
  width: 100%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* 追加 */
}

a{
  color:#c0b15b;
}

header {
  background-color: #fff;
  
  text-align: center;
}

.navigation-container{
  position: fixed;
  width: 100%;
  top:0;
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 3.5vw;
}


footer {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.yeardata {
  margin: 10px 3%;
  width: 96%;
  font-size: 60%;
  color:#867666
  
}

select, option{
  width:6%;
  background:#e9e1d9;
  border:#867666 2px inset;
  cursor: url(/img/pen.png),pointer;
  position: relative;
  border-radius: 2px;
  border-radius: 6px;
  font-size: 20px;
}

p {
  font-size: 200%;
  text-align: center;
  border-bottom: 1px solid #fff;
  height: 200px;
}

ul {
  padding: 0;
  border-top: 1px solid #000000;
  display: table; /* 定義 */
  table-layout: fixed;
  width: 96%;
  font-size: 80%;
  margin: 0 3%;
  text-align: center;
}

li {
  list-style-type: none;
  
  display: table-cell; /* 定義 */
  cursor: pointer;
  color: #E1B80D;
  border:#867666 2px inset;
  border-radius: 2px;
  border-radius: 6px;
  background-color:rgba(128,128,128,0.7);
}
li:hover {
  background: rgb(212, 209, 209);
  color: #fff;
}

textarea {
  margin: 10px 3%;
  width: 95%;
  height: 100px;
  font-size: 80%;
  border:#867666 2px inset;
  border-radius: 2px;
  border-radius: 6px;
  background-color:#e9e1d9;
}
#key {
  margin: 0 3%;
  width: 95%;
  font-size: 80%;
  background-color: #e1efff;
  box-shadow: 3px 3px 3px 3px #555;
}
table {
  margin: 20px 3%;
  border: 1px solid #867666;
  width: 96%;
}
th {
  width: 60px;
  font-size: 15px;
  text-align:center;
  background-color: #D5C3AA;
  border-bottom: 1px solid #867666;
}
td {
  font-size: 16px;
  background-color: rgb(241, 239, 239);
  border-bottom: 1px solid #867666;
}
input {
  margin: 10px 3%;
  width: 95%;
  height: 40px;
  font-size: 80%;
}
