body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 32px;
  width: 100%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* 追加 */
}

input,select,textarea{
  font-family: inherit;
  font-size: 100%;
}

a{
  color:#ebebeb;
}

.headerimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  text-align: center;
  background-image:url(../img/diary.jpg);
  background-position: center;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

.navigation-container{
  position: fixed;
  width: 100%;
  top:0;
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 3.5vw;
}


.headerimg h1{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 7.5vw;
  letter-spacing: 0.1em;
  margin-left: 0.1em;
  color: #b7a644;

}
.headerimg p1{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.5vw;
  color: #534d30;
}


.diaryimg{
text-align: center;
background-image:url(../img/cafe.jpg);
background-position: center;
background-size: cover;
margin: 0;
height: 100vh;
}

.savedimg{
  text-align: center;
  background-image:url(../img/library.jfif);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.diarycontents{
display: inline-block;
padding: 5%;
}

.yeardata {
  margin: 10px, 3%;
  width: 100%;
  font-size: 3.5vm;
  color:#867666
  
}

select{
  width:10%;
  background:#e9e1d9;
  border:#867666 2px inset;
  cursor: url(/img/pen.png),pointer;
  position: relative;
  border-radius: 2px;
  border-radius: 6px;
  font-size: 2rem;
}

.saveditem {
  font-size: 200%;
  text-align: center;
  border-bottom: 1px solid #fff;
  height: auto;
  width:100%;

}

ul {
  padding: 0;
  border-top: 1px solid #000000;
  display: table; /* 定義 */
  table-layout: fixed;
  width: 96%;
  font-size: 80%;
  margin: 0 3%;
  text-align: center;
}

li {
  list-style-type: none;
  
  display: table-cell; /* 定義 */
  cursor: pointer;
  color: #ebebeb;
  border:#867666 2px inset;
  border-radius: 2px;
  border-radius: 6px;
  background-color:rgba(128,128,128,0.7);
}
li:hover {
  background: rgb(212, 209, 209);
  color: #fff;
}

textarea {
  margin: 10px 3%;
  width: 95%;
  height: 60vh;
  font-size: 80%;
  border:#867666 2px inset;
  border-radius: 2px;
  border-radius: 6px;
  background-color: rgba(206, 197, 197, 0.7);
}
#key {
  margin: 0 3%;
  width: 95%;
  font-size: 80%;
  background-color: #e1efff;
  box-shadow: 3px 3px 3px 3px #555;
}

th {
  width: 60px;
  font-size: 2vw;
  text-align:center;
  background-color: #D5C3AA;
  border-bottom: 1px solid #867666;
}
td {
  font-size: 2vw;
  background-color: rgb(241, 239, 239);
  border-bottom: 1px solid #867666;
}
input {
  margin: 10px 3%;
  width: 95%;
  height: 40px;
  font-size: 80%;
}

footer {
  background-color: #fff;
  
  text-align: center;
}

#output{
  font-size: 40%;
  margin: 3%;
  width: 95%;
  height: 70vh;
  overflow: scroll;
  border: #867666 2px inset;
  border-radius: 10px;
  background-color: rgba(206, 197, 197, 0.95);
  white-space: pre-wrap;
   
}

.savedcontents{
  display: inline-block;
  padding: 60px;
  width:85%;
  margin: 0%;
  }
  

button{
  font-family: inherit;
  cursor: pointer;
  color: #ebebeb;
  background-color:rgba(128,128,128,0.7);
  width:10%;
  border:#867666 2px inset;
  position: relative;
  border-radius: 2px;
  border-radius: 6px;
  font-size: 1rem;
}

#send{
  font-size: 2rem;
}

button:hover {
  background: rgb(212, 209, 209);
  color: #fff;
}